*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222831;

}

.board{
    display: flex;
    gap: 20px;
}
.column{
    background-color: #393e46;
    width: 300px;
    min-height: 400px;
    border-radius: 10px;
    padding:20px;
    
}
.column h2{
text-align: center;
color: #ffff;
margin-bottom:20px;

}
.tasks{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.card{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: grab;
}

.task-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.add-task{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d89816;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
}
.add-task:hover{
    background-color:#9f7011 ;
}
.card{
    background-color: #5ab464;
    padding: 10px;
    border-radius:5px;
    transition: all 0.3s ease;
    cursor: grab;
    position: relative;
}
.card:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transform: scale(1.05);
}
.context-menu{
    background-color: #fff;
    padding: 10px 0;
    border-radius: 5px;
    display: none;
    position: absolute;
}

.context-menu ul li{
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #333;

}
.time{
    text-align: end;
    display: block;
    font-size: 0.8em;
    color: #666;
}