*{
    top: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222831;

}

.board{
    display: flex;
    gap: 20px;
}
.column{
    background-color: #393e46;
    width: 300px;
    min-height: 400px;
    border-radius: 10px;
    padding:20px;
    
}
.column h2{
text-align: center;
color: #ffff;
margin-bottom:20px;

}
.tasks{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.task{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: grab;
}

.task-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.add-task{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d89816;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: all 0.3 ease;
}
.add-task:hover{
    background-color:#9f7011 ;
}